html, body {
    overflow-y:auto;
}

#who-am-i-section {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    align-items: center;
}

#who-am-i-section > img:nth-child(1) {
    justify-self: flex-start;
}

#about-img {
    width: 460px;
    margin-left: 100px;
}

#about-me-description {
    width: 75%;
    margin-bottom: 70px;
    margin-left: 100px;
    justify-self: start;
}

#about-me-description > h1 {
    font-family: "Abril Fatface", cursive;
    color: var(--primary-text-color);
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 5px;
}

#about-me-description > p {
    font-size: 22px;
}

.clouds-bg-about {
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 1100px;
}

#cloud1-about {
    transform: scaleY(-1);
    top: 0;
    right: 0px;
}

#cloud2-about {
    transform: scale(-1);
    top: 0;
    left: 0;
}

.about-titles {
    color: var(--primary-text-color);
    font-size: 30px;
    margin-left: 100px;
    align-self: flex-start;
}

#languages-section {
    margin-top: 74px;
}

#languages-section > div {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

#languages-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.languages-els {
    background-color: #ebf8ffc2;
    padding: 10px 50px;
    border-radius: 20px;
    font-size: 23px;
}

.clouds-charac-about {
    width: 500px;
}

#characteristics-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background: linear-gradient(180deg, #77C0EE 0%, rgba(37.40, 160.71, 255, 0.49) 28%, rgba(172.76, 207.03, 255, 0.59) 50%, rgba(37, 161, 255, 0.68) 72%, #77C0EE 100%);
}

.cloud-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    gap: 20px;
}

.cloud-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloud-container img {
    width: 400px;
}

#main-cloud img {
    width: 550px;
}

#main-cloud p {
    font-size: 27px;
    color: var(--primary-text-color);
    font-weight: 600;
}

.cloud-container p {
    position: absolute;
    font-size: 22px;
    text-align: center;
    pointer-events: none;
}

.cloud-container:nth-child(1) { grid-column: 1; grid-row: 1; justify-self: end; }
.cloud-container:nth-child(2) { grid-column: 3; grid-row: 1; }
.cloud-container:nth-child(3) { grid-column: 2; grid-row: 2; }
.cloud-container:nth-child(4) { grid-column: 1; grid-row: 3; justify-self: end; align-self: end; }
.cloud-container:nth-child(5) { grid-column: 3; grid-row: 3; align-self: end; }

#about-character {
    position: absolute;
    width: 200px;
    transform: translateY(-64%);
}

.hobby-imgs {
    width: 400px;
}

.hobby-els {
    display: flex;
    flex-direction: column;
    border: 3px white solid;
    border-radius: 114px;
    align-items: center;
}

.hobby-els > h4 {
    font-size: 29px;
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 46px;
}

.hobby-els > p {
    font-size: 22px;
    color: black;
    text-align: center;
    margin: 0 60px 20px 20px;
    font-weight: 400;
}

#hobbies-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
    width: 80%;
}

#hobbies-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies-section > h3 {
    margin-top: 100px;
}