html, body {
    overflow-y:auto;
}

body {
    position: relative;
}

.clouds-bg-GameProjects {
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 1100px;
}

#cloud-GameProjects {
    transform: scaleY(-1) scaleX(-1);
    top: 0;
    left: 0px;
}

h1 {
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
    color: var(--primary-text-color);
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
}

#projects-p {
    text-align: center;
    font-size: 20px;
}

p {
    word-wrap: break-word;
    font-size: 18px;
    text-align: left;
}


.game {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    align-items: center;
}

.circles {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 20px;
    transform: translate(-50%, -50%);
}

.dot {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #BDE4FF;
    border-radius: 50%;
}


.pacman {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
}

.pacman img {
    width: 150px;
}


.projects-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0px auto;
    margin-top: 50px;
    position: relative;
    z-index: 10;
    width: 80%;
}


.projects-text {
    text-align: left;
    justify-self: left;
    width: 80%;
    margin-left: 50px;
}

h3 {
    color: var(--primary-text-color);
    font-size: 30px;
    text-align: center;
}

.place-images {
    width: 594px;
    height: 353px;
}


.place-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: -150px;
}

.arrow-imgs {
    width: 20px;
    height: auto;
}

.place-arrows {
    border: none;
    background: none;
}

#modelling-section {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
     background: linear-gradient(
        180deg,
        #77C0EE 0%,
        #3D9FDD 70%,
        #77C0EE 100%
    );
}

#modelling-section-text {
 align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}

.images-models {
     width: 500px;
     height: auto;
     align-self: center;
}

.container-button-models {
 top: 0px;
 margin-top: 25px;
}


#browser-games-section, #programmed-games-section {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}

.game-links, #pac-man-images-div {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.game-links > a
{
 color: var(--primary-text-color);
    font-size: 20px;
    font-weight: bold;
}

#pac-man-images-div {
     width: 45%;
}

.pac-man-images {
    width: 300px;
    height: 365px;
}







#scroll-up-btn {
    position: relative;
    bottom: 40px;
    left: 95%;
    width: 50px;
    height: 50px;
    background-color: #77C0EE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
    color: #075D97;
    font-size: 22px;
    border: #075D97 2px solid;
    font-weight: 600;
}

#scroll-up-btn:hover {
    background-color: #6bb0db;
}