#navbar>ul>li>a,
.projects-toggle {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: var(--text-size);
    transition: 0.5s ease-in-out;
}

#navbar {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    z-index: 100;
    position: relative;
}

#navbar>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
}

#navbar>ul>li {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar>ul>li>a:hover,
.projects-toggle:hover,
.projects-submenu li a:hover {
    color: var(--hover-color);
}

#burger-menu {
    position: absolute;
    z-index: 999;
    cursor: pointer;
    display: none;
    justify-content: flex-end;
    width: 100%;
    top: 30px;
}

#burger-menu-img {
    width: 55px;
    height: 38px;
    margin-right: 25px;
}

#hidden-menu {
    width: 170px;
    position: absolute;
    top: 90px;
    right: -300px;
    height: auto;
    background-color: var(--primary-text-color);
    border: 2px solid white;
    z-index: 20;
    border-radius: 10px;
}

#hidden-menu ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#hidden-menu ul li {
    margin: 30px 20px;
}

#hidden-menu ul li a {
    color: white;
    font-size: 17px;
}

.projects-toggle {
    position: relative;
}

.arrow {
    display: inline-block;
    margin-left: 6px;
    transition: transform 0.5s ease;
}

.projects-toggle.open .arrow {
    transform: rotate(180deg);
}

.projects-submenu {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-40%, 10px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 200;
    width: 200px;
    list-style-type: none;
     cursor: var(--cursor);
}

.projects-submenu li {
    margin: 12px 0;
    cursor: var(--hover-color);
}

.projects-submenu li a {
    color: var(--primary-text-color);
    font-size: calc(var(--text-size) - 3px);
    text-decoration: none;
}

.projects-submenu.show {
    opacity: 1;
    transform: translate(-40%, 0);
    pointer-events: auto;
}

@media (min-width: 769px) {
    .projects-toggle:hover .projects-submenu {
        opacity: 1;
        transform: translate(-40%, 0);
        pointer-events: auto;
    }

    .projects-toggle:hover .arrow {
        transform: rotate(180deg);
    }
}

#hidden-menu .projects-submenu {
    position: static;
    transform: none;
    opacity: 1;
    pointer-events: auto;
}

#hidden-menu .projects-submenu li a {
    color: white;
}